body > *{
    border: 1px solid black;
}

body{
    background-color: lavender;
}

header{
    background-color: skyblue;
    max-width: 75%;
    margin: 0 auto;
    font-family: monospace;
}
header img{
    width: 300px;
}

header h1{
float: right;
margin-right: 75px;
}

#movie-dropdown{
font-family: monospace;
}

#display-info{
font-family: monospace;
justify-content: center;
}

#user-review{

}