/* body > *{
    border: 1px solid black;
} */

body{
    display: grid;
    grid-template-areas: 
    "header header header header"
    ". dropdown dropdown ."
    ". display display ."
    ". review review ."
    ". ul ul .";
    background-color: lavender;
    grid-gap: 15px
}

header{
    grid-area: header;
    background-color: skyblue;
    width: 75%;
    margin: 0 auto;
    font-family: monospace;
}
header img{
    width: 300px;
}

header h1{
    float: right;
    margin-right: 75px;
}

#movie-dropdown{
    grid-area: dropdown;
    font-family: monospace;
    text-align: left;
    margin-left: 180px;
}

#display-info{
    grid-area: display;
    font-family: monospace;
    width: 65%;
    margin: 0 auto;
}

#user-review{
    grid-area: review;
    margin-left: 150px;
    font-family: monospace;
}

ul{
    grid-area: ul;
    width: 65%;
    margin: 0 auto;
    font-family: monospace;
}